$color-1 = #008000
// href only link
a[href^="http"]:empty::before
  content attr(href)

// default link
a[href]:not([class])
  color $color-1
  text-decoration underline

// responsive font size
:root
  font-size calc(1vw + 1vh + .5vmin)

// use em for responsive font size
body
  font 1rem/1.6 sans-serif